@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 575.98px) {

    // page experience.html

    // page experience et education
    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
    }
    
    // page experience et education
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    // page experience et education
    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 550px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;

        background-color: #eaeaea;


    }

    #noVisibleRight{

        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 45%;
                
        background-color: #eaeaea;
        box-shadow: inset 3px 3px 3px lightgrey;
        z-index: 1;
        

        .rectangleHautDroit{
            
            background-color: white;
        
            box-shadow: 0px 3px 2px #cfcfcf;

            display: flex;
            align-items: center;
            justify-content: space-between;
            
            height: 40px;


        }
        .iconeCroix{
            color: #7e7e7e; 
            height: 50%;
            margin-left: 5%;

        }

        .lesFlags{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 5%;
            width: 40%;
        }

        .flagSlot{
            margin-right: 10%;
        }

        .cadreMenu{

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15%;

            color: #7e7e7e;

            a{
                display: block;
                margin-bottom: 30%;
                color: #7e7e7e;
            }
        }
    }




    // page experience 
    .headerExp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 10% 10% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        
        background-color: #eaeaea; 
        z-index: 0;
        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }
        

    }

    // page experience et education
    .couvertHidden{

        display: none;
        /*height: 40px;
        width: 100%;
        margin: 5%;
        */

    }

    // page experience et education
    main{
        width: 100%;
        background-color: #eaeaea;
        margin-top: 17%;

        ul{
            //list-style-type: none;
            margin-left: 1.5em;
            margin-bottom: 1em;
            
        }
    }

    // page experience
    .job{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 15px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 0.5em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 0.5em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }

        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }

    .laPhoto{

        display: none;
    }

   
    // page experience et education
    footer{
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        //padding-top: 4%;
        //margin-top: 10%;



        #cadreFooter{
            background-color: whitesmoke;
            //background-color: rgba(245, 245, 245, 0.473);
            width: 90%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            margin-top: 5%;
            margin-bottom: 5%;

            padding: 0 0 3% 3%;
            border-radius: 5px;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{
            font-size: 0.5em;
        }

    }

    // page education

    .headerEducation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 10% 10% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 8%;
        background-color: #eaeaea; 
        z-index: 0;

        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }   
    }

    // page education
    .couvertHiddenEducation{
        
        display: none;
        /*height: 40px;
        width: 100%;
        margin: 5%;
        */
        
    }

    .formation{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius:20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 0.5em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 0.5em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 5% 5% 0 5%;
    }
    .languages{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoEduc{
        display: none;
    }

    // page contact

    .headerContact{
        width: 100%;
       
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 10% 10% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea; 
        z-index: 0;
        

        i{
            color: #7e7e7e;

        }
    }

    .couvertHiddenContact{

        display: none;

    }

    .contact{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoCom{
        display: none;
    }

    #footerContact{

        background-color: #eaeaea;

        #cadreFooter{
            
            background-color: rgba(245, 245, 245, 0.473);
        }

    }


    // page impressum

    .headerImpressum{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10% 10% 10% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea;
        z-index: 0;
        
        
        i{
            color: #7e7e7e;

        }
    }

    .couvertHiddenImpressum{

        display: none;
        /* height: 45px;
        width: 100%;
        margin: 5%;
        */
    }

    .impressum{

        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    #footerImpressum{

        background-color: #eaeaea;

        #cadreFooter{
            
            background-color: rgba(245, 245, 245, 0.473);
        }


    }
}



@media (min-width: 575.99px) and (max-width: 991.98px) {

    // page experience.html

    // page experience et education
    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
    }
    
    // page experience et education
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    // page experience et education
    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 950px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        background-color: #eaeaea;
    }

    #noVisibleRight{
        
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 60%;
        display: block;
        background-color: #eaeaea;
        box-shadow: inset 3px 3px 3px lightgrey;
        display: none;
        z-index: 1;

        .rectangleHautDroit{
            
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;

            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;

        }
        .iconeCroix{
            color: #7e7e7e; 
            height: 50%;
            margin-left: 5%;
        }

        .lesFlags{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 5%;

            
        }

        .flagSlot{
            
            margin-right: 10%;
        }

        .cadreMenu{

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15%;

            color: #7e7e7e;

            a{
                display: block;
                margin-bottom: 30%;
                color: #7e7e7e;
            }
        }
    }




    // page experience 
    .headerExp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea; 
        z-index: 0;
        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }
        
    }

    // page experience et education
    .couvertHidden{


        display: none;
        /*
        height: 55px;
        width: 100%;
        margin: 5%;
        z-index: 0;
       
        */
    }

    // page experience et education
    main{
        width: 100%;
        background-color: #eaeaea;
        margin-top: 10%;


        ul{
            //list-style-type: none;
            margin-left: 1.5em;
            margin-bottom: 1em;
            
        }
    }

    // page experience
    .job{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 1em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }

        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }

    .laPhoto{

        display: none;
    }
   
    // page experience et education
    footer{
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        



        #cadreFooter{
            background-color: whitesmoke;
            width: 90%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            margin-top: 25%;
            margin-bottom: 5%;

            padding: 0 0 3% 3%;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{
            font-size: 0.5em;
        }

    }

    // page education

    .headerEducation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea;  
        z-index: 0;
      

        i{
            color: #7e7e7e;
        }
    }

    // page education
    .couvertHiddenEducation{
        display: none;
    }

    .formation{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 0 5% 0 5%;
    }
    .languages{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoEduc{
        display: none;
    }

    // page contact

    .headerContact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea; 
        z-index: 0;

        i{
            color: #7e7e7e;
        }
    }

    .couvertHiddenContact{
        display: none;
        /*
        height: 20px;
        width: 100%;
        margin: 5%;
        */
    }

    .contact{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoCom{
        display: none;
    }

    #footerContact{

        background-color: #eaeaea;
        margin: 0 0 0 0;
        padding: 0 0 0 0;

        #cadreFooter{
            
            background-color: rgba(245, 245, 245, 0.473);
        }

    }

    // page impressum

    .headerImpressum{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea;
        z-index: 0;
        
      
        i{
            color: #7e7e7e;

        }
    }

    .couvertHiddenImpressum{

        display: none;
        /*height: 25px;
        width: 100%;
        margin: 5%;
        */
    }

    .impressum{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    #footerImpressum{

        background-color: #eaeaea;


        #cadreFooter{
            
            background-color: rgba(245, 245, 245, 0.473);
        }

    }
}



@media (min-width: 991.99px) and (max-width: 1999.99px) {

    // page experience.html

    // page experience et education
    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
    }
    
    // page experience et education
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    // page experience et education
    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 1920px;
        margin: auto;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        background-color: #eaeaea;

        //border: 3px dotted gray;
        //position: relative;
    }

    #noVisibleRight{
        position: fixed;
        top: 0;
        //bottom: 0;
        right: 0;
        left: 50%;
        height: 100px;
        
        
        background-color: #eaeaea;

        box-shadow: 3px 3px 4px darkgray;
        //box-shadow: inset 3px 3px 3px 3px lightgrey;
        
        display: none;
        z-index: 1;

        //border: 4px solid navy;

        .rectangleHautDroit{
            
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;

            display: flex;
            align-items: center;
            justify-content: space-between;
            
            height: 40px;

        }

        .iconeCroix{
            color: #7e7e7e; 
            height: 50%;
            margin-left: 3%;
        }

        .lesFlags{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }

        .flagSlot{
            display: flex;
            align-items: center;
            padding: 7% 7% 7% 7%;
        }

        #eng{
            
            border-right: 1px solid lightgray;
        }

        #ger{
            
            border-right: 1px solid lightgray;
        }

        .cadreMenu{

            color: #7e7e7e;
            height: 60%;
            display: flex;
            align-items: center;

            &-section{

                //border: 3px solid pink;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

            }

            a{
                display: block;
               
                color: #7e7e7e;

                //border: 2px solid yellow;
            }
        }
    }






    // page experience 
    .headerExp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 0;

        //border: 2px dotted yellow;
        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }


    }


    // page experience et education
    main{
        width: 100%;

        margin-top: 175px;
        background-color: #eaeaea;

        //border: 2px solid red;
        

        ul{
            //list-style-type: none;
            margin-left: 1.5em;
            margin-bottom: 1em;
            
        }
    }

    .couvertHidden{
        display: none;

    }


    // page experience
    .job{
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

        //border: 3px dashed orangered;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 1em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }

        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }


    .laPhoto{

        position: fixed;
        top: 175px;
        right: 2%;
        z-index: 0;
        width: 55%;

        //border: 3px dotted blue;

    }

    .laPhotoTools{

        display: flex;
        flex-direction: column;
        align-items: center;

        //: 3px solid blueviolet;
    }
 
    
    .lesPix{

        border-radius: 20px;
        width: 80%;
        object-fit: cover;

        //border: 2px dotted purple;
    }

   
   
    // page experience et education
    footer{
        margin-top: 3%;
        background-color: lightgrey;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        //margin-top: 10%;

        z-index: 1;


        #cadreFooter{

            background-color: lightgrey;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            padding: 0 0 3% 3%;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{

            font-size: 0.8em;
        }

    }

    // page education

    .headerEducation{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 0;

        div{
            
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;

        }
    }

    // page education

    
    .couvertHiddenEducation{

        display: none;
        /*
        height: 55px;
        width: 100%;
        margin: 5%;
        */
    }
    

    .formation{
       
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 0 5% 2% 5%;
    }

    .languages{

        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

    }

    .laPhotoEduc{

        position: fixed;
        top: 155px;
        right: 2%;
        z-index: 0;
        width: 55%;

        //border: 3px dotted blue;

    }

    .laPhotoEducation{

        display: flex;
        flex-direction: column;
        align-items: center;

        //: 3px solid blueviolet;
    }
 
    
    .lesPixEduc{

        border-radius: 20px;
        width: 80%;
        object-fit: cover;

        //border: 2px dotted purple;
    }


    // page contact

    .headerContact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 0;

        div{
            
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;
        }
    }

    
    .couvertHiddenContact{

        display: none;
        /*
        height: 20px;
        width: 100%;
        margin: 5%;
        */
    }
    

    .contact{
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;
    }

    .laPhotoCom{

        position: fixed;
        top: 155px;
        right: 2%;
        z-index: 0;
        width: 55%;

        margin-bottom: 5%;

        //border: 3px dotted blue;
    }

    .laPhotoContact{

        display: flex;
        flex-direction: column;
        align-items: center;

        //: 3px solid blueviolet;
    }
 
    
    .lesPixComm{

        border-radius: 20px;
        width: 80%;
        max-height: 250px;
        object-fit: cover;

        //border: 2px dotted purple;
    }



    // page impressum

    .headerImpressum{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-color: #eaeaea;

        /*
        &-title{
            font-size: 1em;
        }
        */
        

        i{
            color: #7e7e7e;

        }
    }

    .couvertHiddenImpressum{
        display: none;
        /*
        height: 25px;
        width: 100%;
        margin: 5%;
        */
    }

    .impressum{
        margin: 0 4% 0 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

}

@media (min-width: 2000.00px) {

    // page experience.html

    // page experience et education
    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
        font-size: 2em;
    }
    
    // page experience et education
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    // page experience et education
    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 3920px;
        margin: auto;
        
        
        /*display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap; */
        width: 100%;
        
        
        
        background-color: #eaeaea;

        //border: 3px dotted gray;
        //position: relative;
    }

    main{
        width: 100%;

        margin-top: 155px;
        background-color: #eaeaea;
        //border: 2px solid red;

        ul{
            //list-style-type: none;
            margin-left: 1.5em;
            margin-bottom: 1em;
        }
    }

    #noVisibleRight{
        background-color: #eaeaea;

        box-shadow: 3px 3px 4px darkgray;
        //box-shadow: inset 3px 3px 3px 3px lightgrey;
        
        //display: none;
        z-index: 1;

        border: 4px solid navy;

        .rectangleHautDroit{
            
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;

            display: flex;
            align-items: center;
            justify-content: space-between;
            
            height: 240px;

        }

        .iconeCroix{
            color: #7e7e7e; 
            height: 50%;
            margin-left: 3%;
        }

        .lesFlags{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }

        .flagSlot{
            display: flex;
            align-items: center;
            padding: 7% 7% 7% 7%;
        }

        #eng{
            
            border-right: 1px solid lightgray;
        }

        #ger{
            
            border-right: 1px solid lightgray;
        }

        .cadreMenu{

            color: #7e7e7e;
            height: 60%;
            display: flex;
            align-items: center;

            &-section{

                //border: 3px solid pink;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

            }

            a{
                display: block;
               
                color: #7e7e7e;

                //border: 2px solid yellow;
            }
        }
    }


    // page experience 
    .headerExp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        height: 250px;
        background-color: #eaeaea; 
        z-index: 0;

        //border: 2px dotted yellow;
        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }


    }


    // page experience et education

    .couvertHidden{
        display: none;

    }

    // page experience
    .job{
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

        

        //border: 3px dashed orangered;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 1em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }

        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }


    .laPhoto{
        border: 3px dotted blue;
        width: 45%;
    }

    .laPhotoTools{

        display: flex;
        flex-direction: column;
        align-items: center;

        border: 3px solid blueviolet;
    }
 
    
    .lesPix{

        border-radius: 20px;
        width: 100%;
        object-fit: cover;

        //border: 2px dotted purple;
    }
   
    // page experience et education
    footer{
        margin-top: 3%;
        background-color: lightgrey;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        //margin-top: 10%;

        z-index: 1;


        #cadreFooter{

            background-color: lightgrey;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            padding: 0 0 3% 3%;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{

            font-size: 0.8em;
        }

    }

    // page education

    .headerEducation{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 0;

        div{
            
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;

        }
    }

    // page education

    
    .couvertHiddenEducation{

        display: none;
        /*
        height: 55px;
        width: 100%;
        margin: 5%;
        */
    }
    

    .formation{
       
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 0 5% 2% 5%;
    }

    .languages{

        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

    }

    .laPhotoEduc{

        position: fixed;
        top: 155px;
        right: 2%;
        z-index: 0;
        width: 55%;

        //border: 3px dotted blue;

    }

    .laPhotoEducation{

        display: flex;
        flex-direction: column;
        align-items: center;

        //: 3px solid blueviolet;
    }
 
    
    .lesPixEduc{

        border-radius: 20px;
        width: 80%;
        object-fit: cover;

        //border: 2px dotted purple;
    }


    // page contact

    .headerContact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 0;

        div{
            
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;
        }
    }

    
    .couvertHiddenContact{

        display: none;
        /*
        height: 20px;
        width: 100%;
        margin: 5%;
        */
    }
    

    .contact{
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;
    }

    .laPhotoCom{

        position: fixed;
        top: 155px;
        right: 2%;
        z-index: 0;
        width: 55%;

        margin-bottom: 5%;

        //border: 3px dotted blue;
    }

    .laPhotoContact{

        display: flex;
        flex-direction: column;
        align-items: center;

        //: 3px solid blueviolet;
    }
 
    
    .lesPixComm{

        border-radius: 20px;
        width: 80%;
        max-height: 250px;
        object-fit: cover;

        //border: 2px dotted purple;
    }



    // page impressum

    .headerImpressum{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-color: #eaeaea;

        /*
        &-title{
            font-size: 1em;
        }
        */
        

        i{
            color: #7e7e7e;

        }
    }

    .couvertHiddenImpressum{
        display: none;
        /*
        height: 25px;
        width: 100%;
        margin: 5%;
        */
    }

    .impressum{
        margin: 0 4% 0 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

}