@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 575.98px) {

    // page experience.html

    // page experience et education
    body{
        font-family: Roboto, Tahoma, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
    }
    
    // page experience et education
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    // page experience et education
    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 550px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        background-color: #eaeaea;
    }

    #noVisibleRight{

        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 45%;
                
        background-color: #eaeaea;
        box-shadow: inset 3px 3px 3px lightgrey;
        z-index: 2;
        

        .rectangleHautDroit{
            
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
        }

        .iconeCroix{
            color: #7e7e7e; 
            height: 50%;
            margin-left: 5%;
        }

        .lesFlags{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 5%;
            width: 40%;
        }

        .flagSlot{
            margin-right: 10%;
        }

        .cadreMenu{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15%;
            color: #7e7e7e;

            a{
                display: block;
                margin-bottom: 30%;
                color: #7e7e7e;
            }
        }
    }


    // page experience 

    .headerExp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 10% 10% 10%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5%;
        background-color: #eaeaea; 
        z-index: 1;
        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }
        
        #grandeResoIcon{
            display: none;
        }
    }

    @media (max-width: 300px){
        .headerExp{
            h1{
                font-size: 1.6em;
            }
        }

        #noVisibleRight{
            .rectangleHautDroit{
                background-color: white;
                box-shadow: 0px 3px 2px #cfcfcf;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
            }
    
            .iconeCroix{
                color: #7e7e7e; 
                height: 50%;
                margin-left: 5%;
                margin-right: 10%;
            }
        }
    }
    
    // page experience et education
    main{
        width: 100%;
        background-color: #eaeaea;
        margin-top: 17%;

        ul{
            margin-left: 1.5em;
            margin-bottom: 1em;  
        }
    }

    nav{

        img{
            width: 20px;
        }
    }

    // page experience

    .titleBigScreen{
        display: none;
    }

    .job{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 15px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 0.5em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 0.5em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }

        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }

    @media (max-width: 300px){
        .job{
            &-dates{
                font-size: 0.7em;
            }
        }
    }

    .laPhoto{

        display: none;
    }

   
    // page experience et education
    footer{
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        #cadreFooter{
            background-color: whitesmoke;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 10%;
            margin-bottom: 5%;
            padding: 0 0 3% 3%;
            border-radius: 5px;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{
            font-size: 0.5em;
        }

    }

    @media (min-width: 500px) and (max-width: 575.98px) {
        footer{
            #cadreFooter{
                margin-top: 21%;
            }
        }
    }

    // page Projects

    .headerProject{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 10% 10% 7%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 8%;
        background-color: #eaeaea; 
        z-index: 1;

        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        } 
        
        #grandeResoIcon{
            display: none;
        }
    }

    
    .proj{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius:20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 0.5em;

            a{
                font-style: italic;
            }
        }

        &-numero{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 60%;
            text-decoration: none;
            margin-bottom: 0.5em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    .iconKasa{
        margin-top: 1em;
        width: 100px;
    }

    .iconPiiquante{
        margin-top: 1em;
        height: 60px;
        width: 100px;
    }

    .iconKanap{
        margin-top: 1em;
        width: 100px;
    }

    .iconChouette{
        margin-top: 1em;
        width: 100px;
    }

    .iconOhMyFood{
        margin-top: 1em;
        width: 100px;
    }

    .iconReservia{
        margin-top: 1em;
        width: 100px;
    }

    // page education    

    .headerEducation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 10% 10% 7%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 8%;
        background-color: #eaeaea; 
        z-index: 1;

        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        } 
        
        #grandeResoIcon{
            display: none;
        }
    }

    // page education

    .formation{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius:20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 0.5em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 0.5em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 5% 5% 0 5%;
    }
    .languages{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoEduc{
        display: none;
    }

    // page contact

    .headerContact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 10% 10% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea; 
        z-index: 1;

        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }
    }

    .contact{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoCom{
        display: none;
    }

    #footerContact{

        background-color: #eaeaea;

        #cadreFooter{
            background-color: rgba(245, 245, 245, 0.473);
        }
    }

    // page impressum

    .headerImpressum{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10% 10% 10% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea;
        z-index: 1;
        
        
        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }
    }


    .impressum{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    #footerImpressum{

        background-color: #eaeaea;

        #cadreFooter{
            background-color: rgba(245, 245, 245, 0.473);
        }
    }
}



@media (min-width: 575.99px) and (max-width: 991.98px) {

    // page experience et education
    body{
        font-family: Roboto, Tahoma, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
    }
    
    // page experience et education
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    // page experience et education
    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 950px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        background-color: #eaeaea;
    }

    #noVisibleRight{
        
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 60%;
        display: block;
        background-color: #eaeaea;
        box-shadow: inset 3px 3px 3px lightgrey;
        display: none;
        z-index: 2;

        .rectangleHautDroit{
            
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;

            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;

        }
        .iconeCroix{
            color: #7e7e7e; 
            height: 50%;
            margin-left: 5%;
        }

        .lesFlags{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 5%;  
        }

        .flagSlot{
            margin-right: 10%;
        }

        .cadreMenu{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15%;
            color: #7e7e7e;

            a{
                display: block;
                margin-bottom: 30%;
                color: #7e7e7e;
            }
        }
    }




    // page experience 
    .headerExp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 6% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea; 
        z-index: 1;
        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }
        
        #grandeResoIcon{
            display: none;
        }
    }

    // page experience et education
    main{
        width: 100%;
        background-color: #eaeaea;
        margin-top: 12%;

        ul{
            margin-left: 1.5em;
            margin-bottom: 1em;
        }
    }

    nav{

        img{
            width: 20px;
        }
    }

    // page experience

    .titleBigScreen{
        display: none;
    }

    .job{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 1em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }
        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }

    .laPhoto{
        display: none;
    }
   
    // page experience et education
    footer{
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        #cadreFooter{
            background-color: whitesmoke;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 25%;
            margin-bottom: 2%;
            padding: 0 0 2% 3%;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{
            font-size: 0.5em;
        }

    }

    @media (min-width: 900px){
        footer{

            #cadreFooter{
                margin-top: 26%;
                margin-bottom: 1%;
                padding: 0 0 1% 3%;
                background: linear-gradient(whitesmoke, lightgray);
            }
        }
    }

    // page Project

    .headerProject{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 5% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea;  
        z-index: 1;
      

        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }
    }

    .proj{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-numero{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    .iconKasa{
        margin-top: 1em;
        width: 100px;
    }

    .iconPiiquante{
        margin-top: 1em;
        width: 100px;
        height: 60px;
    }

    .iconKanap{
        margin-top: 1em;
        width: 100px;
    }

    .iconChouette{
        margin-top: 1em;
        width: 100px;
    }

    .iconOhMyFood{
        margin-top: 1em;
        width: 100px;
    }

    .iconReservia{
        margin-top: 1em;
        width: 100px;
    }

    // page education

    .headerEducation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 5% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea;  
        z-index: 1;
      

        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }
    }

    // page education


    .formation{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 0 5% 0 5%;
    }

    .languages{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoEduc{
        display: none;
    }

    // page contact

    .headerContact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea; 
        z-index: 1;

        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }
    }



    .contact{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .laPhotoCom{
        display: none;
    }

    #footerContact{

        background-color: #eaeaea;
        margin: 0 0 0 0;
        padding: 0 0 0 0;

        #cadreFooter{
            
            background-color: rgba(245, 245, 245, 0.473);
        }

    }

    // page impressum

    .headerImpressum{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-color: #eaeaea;
        z-index: 1;
        
        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }
    }



    .impressum{
        margin: 4% 4% 4% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    #footerImpressum{

        background-color: #eaeaea;

        #cadreFooter{
            
            background-color: rgba(245, 245, 245, 0.473);
        }
    }
}



@media (min-width: 991.99px) and (max-width: 1999.99px) {

    // page experience et education
    body{
        font-family: Roboto, Tahoma, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 1920px;
        margin: auto;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        background-color: #eaeaea;
    }

    #noVisibleRight{
        position: fixed;
        top: 0;
        right: 0;
        left: 25%;
        height: 100px;
        background-color: #eaeaea;
        box-shadow: 3px 3px 4px darkgray;
        display: none;
        z-index: 2;

        .rectangleHautDroit{
            
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
        }

        .iconeCroix{
            color: #7e7e7e; 
            height: 50%;
            margin-left: 3%;
        }

        .lesFlags{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }

        .flagSlot{
            display: flex;
            align-items: center;
            padding: 7% 7% 7% 7%;
        }

        #eng{
            border-right: 1px solid lightgray;
        }

        #ger{
            border-right: 1px solid lightgray;
        }

        .cadreMenu{
            color: #7e7e7e;
            height: 60%;
            display: flex;
            align-items: center;

            &-section{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            a{
                display: block;
                color: #7e7e7e;
                background: linear-gradient(135deg, #eaeaea, lightgray);
                border: 1px solid lightgray;
                width: 200px;
                text-align: center;
            }
        }
    }

    // page experience 
    .headerExp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 5% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 1;

        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }

    }

    // page experience et education
    main{
        width: 100%;
        margin-top: 175px;
        background-color: #eaeaea;
        
        ul{
            margin-left: 1.5em;
            margin-bottom: 1em;
        }
    }

    nav{

        img{
            width: 25px;
        }
    }

    @media (min-width: 1776px){
        
        main{
            margin-top: 197px;
        }
    }

    .titleBigScreen{
        display: none;
    }

    // page experience
    .job{
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 1em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }

        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }


    .laPhoto{

        position: fixed;
        top: 175px;
        right: 2%;
        z-index: 1;
        width: 47%;

    }

    @media (min-width: 1776px){
        
        .laPhoto{
            top: 197px;
        }
    }

    .laPhotoTools{

        display: flex;
        flex-direction: column;
        align-items: center;

    }
 
    
    .lesPix{

        border-radius: 20px;
        width: 100%;
        object-fit: cover;

    }

   
   
    // page experience et education
    footer{
        
        width: 100%;
        background: linear-gradient(lightgrey, #eaeaea);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 2;


        #cadreFooter{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 0 3% 3%;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{
            font-size: 0.8em;
        }

    }

    // page Projects

    .headerProject{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 6% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 1;

        div{
            
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;

        }

        #grandeResoIcon{
            display: none;
        }
    }

    .proj{
        margin: 0 2% 2% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-numero{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    .iconKasa{
        margin-top: 1em;
        width: 100px;
    }

    .iconPiiquante{
        margin-top: 1em;
        width: 100px;
        height: 60px;
    }

    .iconKanap{
        margin-top: 1em;
        width: 100px;
    }

    .iconChouette{
        margin-top: 1em;
        width: 100px;
    }

    .iconOhMyFood{
        margin-top: 1em;
        width: 100px;
    }

    .iconReservia{
        margin-top: 1em;
        width: 100px;
    }

    // page education

    .headerEducation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 6% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 1;

        div{
            
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;

        }

        #grandeResoIcon{
            display: none;
        }
    }

    // page education
    

    .formation{
        margin: 0 2% 2% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 0 5% 2% 5%;
    }

    .languages{
        margin: 0 2% 2% 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 45%;
    }

    .laPhotoEduc{
        position: fixed;
        top: 175px;
        right: 0;
        z-index: 1;
        width: 55%;
    }

    .laPhotoEducation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    
    .lesPixEduc{
        border-radius: 20px;
        width: 80%;
        object-fit: cover;
    }

    @media (min-width: 1776px){
        
        .laPhotoEduc{
            top: 197px;
        }
    }



    // page contact

    .headerContact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 5% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #eaeaea; 
        z-index: 1;

        div{
            
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;
        }

        #grandeResoIcon{
            display: none;
        }
    }
    
    #mainContact{
        display: grid;
        grid-template-columns: 50% 50%;
        height: 450px;
    }

    .contactSection{
        grid-column: 1;
        display: flex;
        justify-content: center;
    }

    .contact{
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .laPhotoCom{ 
        
        grid-column: 2;
        z-index: 0;

    }

    .laPhotoContact{

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
    }
 
    
    .lesPixComm{

        border-radius: 20px;
        height: 100%;
        width: 90%;
        object-fit: cover;
    }

    #footerContact{
        background: linear-gradient(lightgrey, #eaeaea);
        margin-top: 1%;  
    }

    @media (min-width: 1800px){

        #footerContact{
            margin-top: 4%;
        }
        
    }

    // page impressum

    .headerImpressum{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 5% 5% 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-color: #eaeaea;
        z-index: 1;
      
        i{
            color: #7e7e7e;

        }

        #grandeResoIcon{
            display: none;
        }
    }


    .impressum{
        margin: 0 4% 0 4%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
    }

    #footerImpressum{
        margin-top: 4%;
    }
}

@media (min-width: 2000.00px) {

    // page experience.html

    // page experience et education
    body{
        font-family: Roboto, Tahoma, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #eaeaea;
        font-size: 2em;
    }
    
    // page experience et education
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    // page experience et education
    a{
        text-decoration: none;
    }

    $primaryColor: black;
    $secondaryColor: darkgray;
    $thirdColor: #9356dc;

   
    // page experience et education
    #mainContainer{
        max-width: 3920px;
        margin: auto;
        width: 100%;        
        background-color: #eaeaea;

    }

    main{
        width: 100%;
        background-color: #eaeaea;
        border: 2px solid $secondaryColor;
        box-shadow: 3px 3px 4px lightgray;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr 2fr 2fr;
        
        ul{
            margin-left: 1.5em;
            margin-bottom: 1em;
        }
    }

    nav{

        img{
            width: 35px;
        }
    }

    // page experience 

    .noVisibleRightExp{
        background-color: #eaeaea;
        margin: 20px 20px 20px 20px;
        grid-column: 3;
        grid-row: 1;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        border: 3px solid $secondaryColor;
        box-shadow: 3px 3px 4px lightgray;

        .rectangleHautDroit{
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-radius: 20px;
            width: 85%;
            margin-top: 2%;
        }

        .iconeCroix{
            display: none;
        }

        .lesFlags{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }

        .flagSlot{
            display: flex;
            align-items: center;
            padding: 7% 7% 7% 7%;
        }

        #eng{
            
            border-right: 1px solid lightgray;
        }

        #ger{
            
            border-right: 1px solid lightgray;
        }

        .cadreMenu{
            color: #7e7e7e;
            height: 100%;
            margin-top: 2%;
            width: 85%;

            &-section{
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 2%;
            }

            a{
                display: block;
                font-size: 1.5em;
                margin: 2% 0 2% 0;
                color: #7e7e7e;
                background: linear-gradient(135deg, #eaeaea, lightgray);
                border: 1px solid lightgray;
                width: 300px;
                text-align: center;
                
            }
        }
    }

    // page experience 
    .headerExp{
        width: 100%;
        display: flex;  
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        height: 250px;
        background-color: #eaeaea; 
        z-index: 0;
        
        h1{
            font-size: 1.9em;
        }

        i{
            color: #7e7e7e;
        }

        #petiteResoIcon{
            display: none;
        }
    }


    // page experience et education

    // page experience
    .job{
        margin: 0 2% 5% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &-firm{
            font-style: italic;
            margin-bottom: 1em;
        }

        &-dates{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: 0.8em;
        }

        &-details{

            &__descr{
                margin-bottom: 1em;
            }
            &__syst{
                margin-bottom: 0.5em;
            }
            &__contract{
                margin-bottom: 0.5em;
            }
        }

        &-whereabouts{
            color: $thirdColor;
            margin-top: 2px;
        }
    }

    .titleBigScreen{
        color: $thirdColor;
        margin: 0 2% 5% 2%;
        padding: 4% 4% 4% 4%;
        background-color: #e8e5e5;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
    }

    .experienceFrance{
        grid-column: 1;
        grid-row: 1/4;
        padding: 20px 20px 20px 20px;
    }

    .experienceCH{
        margin-top: 450px;
        grid-column: 2;
        grid-row: 1/4;
        padding: 20px 20px 20px 20px;
    }

    .experienceUK{
        grid-column: 3;
        grid-row: 2;
        padding: 20px 20px 20px 20px;
    }

    .experienceTHAI{
        grid-column: 3;
        grid-row: 3;
        padding: 20px 20px 20px 20px;
    }
    

    .laPhoto{
        padding: 20px 20px 20px 20px;
        grid-column: 2;
        grid-row: 1;
    }

    .laPhotoTools{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    
    .lesPix{
        border-radius: 20px;
        width: 100%;
        object-fit: cover;
    }
   
    // page experience et education
    footer{
        margin-top: 3%;
        background: linear-gradient(lightgrey, #eaeaea);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 1;

        #cadreFooter{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 0 3% 3%;
        }

        div{
            margin-top: 2%;
        }

        .flaticonAttrib{
            font-size: 0.8em;
        }

    }

    // page Projects

    .noVisibleRightProj{
        background-color: #eaeaea;
        margin: 20px 20px 20px 20px;
        grid-column: 3;
        grid-row: 1;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        border: 3px solid $secondaryColor;
        box-shadow: 3px 3px 4px lightgray;

        .rectangleHautDroit{
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-radius: 20px;
            width: 85%;
            margin-top: 2%;
        }

        .iconeCroix{
            display: none;
        }

        .lesFlags{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }

        .flagSlot{
            display: flex;
            align-items: center;
            padding: 7% 7% 7% 7%;
        }

        #eng{
            border-right: 1px solid lightgray;
        }

        #ger{
            border-right: 1px solid lightgray;
        }

        .cadreMenu{
            color: #7e7e7e;
            height: 100%;
            margin-top: 2%;
            width: 85%;

            &-section{
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 3%;
            }

            a{
                display: block;
                font-size: 1em;
                margin: 2% 0 2% 0;
                color: #7e7e7e;
                background: linear-gradient(135deg, #eaeaea, lightgray);
                border: 1px solid lightgray;
                width: 200px;
                text-align: center;
            }
        }

    }    

    .headerProject{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        height: 250px;
        background-color: #eaeaea; 
        z-index: 0;

        div{
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;
        }

        #petiteResoIcon{
            display: none;
        }
    }

    .projects{
        grid-column: 1;
        grid-row: 1/4;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectsColDeux{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

    .proj{
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 100%;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-numero{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 60%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    .iconKasa{
        width: 200px;
        margin-top: 2em;
    }

    .iconPiiquante{
        width: 200px;
        height: 100px;
        margin-top: 2em;
    }

    .iconKanap{
        width: 200px;
        margin-top: 2em;
    }

    .iconChouette{
        margin-top: 1em;
        width: 200px;
    }

    .iconOhMyFood{
        margin-top: 1em;
        width: 200px;
    }

    .iconReservia{
        margin-top: 1em;
        width: 200px;
    }

    // page education

    .noVisibleRightEdu{
        background-color: #eaeaea;
        margin: 20px 20px 20px 20px;
        grid-column: 3;
        grid-row: 1;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        border: 3px solid $secondaryColor;
        box-shadow: 3px 3px 4px lightgray;

        .rectangleHautDroit{
            background-color: white;
            box-shadow: 0px 3px 2px #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-radius: 20px;
            width: 85%;
            margin-top: 2%;
        }

        .iconeCroix{
            display: none;
        }

        .lesFlags{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }

        .flagSlot{
            display: flex;
            align-items: center;
            padding: 7% 7% 7% 7%;
        }

        #eng{
            border-right: 1px solid lightgray;
        }

        #ger{
            border-right: 1px solid lightgray;
        }

        .cadreMenu{
            color: #7e7e7e;
            height: 100%;
            margin-top: 2%;
            width: 85%;

            &-section{
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 3%;
            }

            a{
                display: block;
                font-size: 1em;
                margin: 2% 0 2% 0;
                color: #7e7e7e;
                background: linear-gradient(135deg, #eaeaea, lightgray);
                border: 1px solid lightgray;
                width: 200px;
                text-align: center;
            }
        }

    }    

    .headerEducation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        height: 250px;
        background-color: #eaeaea; 
        z-index: 0;

        div{
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;
        }

        #petiteResoIcon{
            display: none;
        }
    }

    .education{
        grid-column: 1;
        grid-row: 1/4;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .languagesInterestsHobbies{
       grid-column: 2;
       grid-row: 2;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 5%;
    }
    
    .formation{
        margin: 0 2% 2% 2%;
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 100%;

        &-title{
            font-size: 1.2em;
            margin-bottom: 1em;

            a{
                font-style: italic;
            }
        }

        &-year{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(135deg, #eaeaea, lightgray);
            height: 2em;
            width: 40%;
            text-decoration: none;
            margin-bottom: 1em;
        }

        &-details{
            margin-bottom: 0.5em;
        }

    }

    h2{
        padding: 0 5% 2% 5%;
    }

    .languages{
        padding: 4% 4% 4% 4%;
        background-color: white;
        box-shadow: 3px 3px 4px darkgray;
        border-radius: 20px;
        width: 90%;
    }

    .laPhotoEduc{
        grid-column: 2;
        grid-row: 1;
        margin: 20px;
    }

    .laPhotoEducation{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
 
    
    .lesPixEduc{
        border-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    // page contact

    .headerContact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        height: 250px;
        background-color: #eaeaea; 
        z-index: 0;

        div{
            margin-left: 5%;
            justify-self: flex-end;
        }

        i{
            color: #7e7e7e;
        }

        #petiteResoIcon{
            display: none;
        }
    }
    
    #mainContact{
        grid-column: 1/4;
        grid-row: 1/4;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 450px 450px;

        .noVisibleRightContact{
            grid-column: 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            #rectangleHautDroitContact{
                background-color: white;
                box-shadow: 0px 3px 2px #cfcfcf;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-radius: 20px;
                width: 85%;

                .iconeCroix{
                    display: none;
                }

                .lesFlags{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 30%;
                }

                .flagSlot{
                    display: flex;
                    align-items: center;
                    padding: 7% 7% 7% 7%;
                }

                #eng{
                    border-right: 1px solid lightgray;
                }

                #ger{
                    border-right: 1px solid lightgray;
                }
            }

            #cadreMenuContact{
                width: 90%;
                max-height: 90%;

                #cadreMenuSection{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;    
                    flex-direction: row;
                    padding: 2%;
                    
                    a{
                        font-size: 1.2em;
                        margin: 2% 5% 2% 5%;
                        background: linear-gradient(135deg, #eaeaea, lightgray);
                        border: 1px solid lightgray;
                        width: 250px;
                        text-align: center;
                    }
                }
            }
        }

        .contactSection{
            grid-column: 2;
            grid-row: 2;
            display: flex;
            justify-content: center;
            margin: 2%;

            .contact{
                height: 100%;
                width: 80%;
            }
        }


        .laPhotoCom{
            grid-column: 1;
            grid-row: 1/3;

            .laPhotoContact{
                width: 95%;

                .lesPixComm{
                    width: 100%;
                }
            }
        }
    }

    .headerImpressum{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10% 5% 5%;
        height: 250px;
        background-color: #eaeaea; 

        i{
            color: #7e7e7e;

        }

        #petiteResoIcon{
            display: none;
        }
    }

    #mainImpressum{
        border: none;
        box-shadow: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;

        .noVisibleRightImpressum{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1%;

            #rectangleHautDroitImpressum{
                background-color: white;
                box-shadow: 0px 3px 2px #cfcfcf;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-radius: 20px;
                width: 85%;

                .iconeCroix{
                    display: none;
                }

                .lesFlags{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 30%;
                }

                .flagSlot{
                    display: flex;
                    align-items: center;
                    padding: 7% 7% 7% 7%;
                }

                #eng{
                    
                    border-right: 1px solid lightgray;
                }

                #ger{
                    
                    border-right: 1px solid lightgray;
                }
            }
    
            #cadreMenuImpressum{
                margin: 2%;
                height: 95%;
                width: 80%;
                
                .cadreMenu-section{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    a{
                        
                        
                        font-size: 1.2em;
                        margin: 2% 5% 2% 5%;
                        background: linear-gradient(135deg, #eaeaea, lightgray);
                        border: 1px solid lightgray;
                        width: 250px;
                        text-align: center;
                        
                    }
                }
            }
        }

        .impressumSection{
            margin: 1%;
        }
    }
}