@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media (max-width: 575.98px) {
  body {
    font-family: Roboto, Courier, monospace, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  /* keyframes 1/4 used in the DIV launcher for the disappeance of the load progress bar */
  @keyframes disparition {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  /* keyframes 2/4 used in the DIV mainContainer for the apparition of the index page */
  @keyframes apparition {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
      z-index: 1;
    }
  }
  /* keyframes 3/4 used in the launcher-titre__un and launcher-titre__deux */
  @keyframes titel {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  /* keyframes 4/4 used in the launcher-progressBar__grey and launcher-progressBar__orange */
  @keyframes barDeProgressionOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes barDeProgressionGrey {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  .launcher {
    width: 100%;
    /* A REACTIVER WHEN FINISHED 
    display: flex; */
    /* A EFFACER */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: disparition 3000ms 2500ms;
    animation-fill-mode: forwards;
  }
  .launcher-titre {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
  }
  .launcher-titre__un {
    color: black;
    margin-right: 3%;
    transform-origin: 0% 50%;
    animation: titel 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-titre__deux {
    color: black;
    transform-origin: 0% 50%;
    animation: titel 500ms 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-progressBar {
    position: relative;
    margin-bottom: 3%;
    width: 60%;
    height: 2px;
  }
  .launcher-progressBar__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid darkgray;
    background-color: darkgray;
    height: 100%;
    width: 100%;
    animation: barDeProgressionGrey 1000ms;
    animation-fill-mode: forwards;
  }
  .launcher-progressBar__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #9356dc;
    background-color: #9356dc;
    height: 100%;
    width: 100%;
    transform-origin: 0% 50%;
    animation: barDeProgressionOrange 1000ms 1000ms;
    animation-fill-mode: backwards;
  }
  .launcher-countdown {
    color: black;
    font-weight: lighter;
  }

  /* Retour au CSS de la page index */
  #mainContainer {
    max-width: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    /* A REACTIVER WHEN FINISHED */
    /*
    animation: apparition 1000ms 5500ms;
    animation-fill-mode: backwards; */
  }

  header {
    width: 100%;
    box-shadow: 0px 3px 2px #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: whitesmoke;
  }
  header i {
    color: #7e7e7e;
  }

  main {
    width: 100%;
    background-color: whitesmoke;
  }

  @keyframes dotincrease {
    0% {
      transform: scale(0);
      opacity: 0.1;
    }
    5% {
      transform: scale(0.18);
    }
    15% {
      transform: scale(0.4);
    }
    20% {
      transform: scale(0.81);
    }
    25% {
      opacity: 1;
    }
    30% {
      transform: scale(1);
    }
    35% {
      transform: scale(0.81);
      opacity: 0.1;
    }
    40% {
      transform: scale(0.61);
    }
    45% {
      transform: scale(0.4);
    }
    50% {
      transform: scale(0.18);
    }
    55% {
      opacity: 1;
    }
    60% {
      transform: scale(0);
    }
    70% {
      transform: scale(0);
      opacity: 0.1;
    }
    75% {
      transform: scale(0.18);
    }
    80% {
      transform: scale(0.4);
    }
    85% {
      transform: scale(0.81);
    }
    95%, 100% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes barDeCompetenceOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 20%;
    display: none;
    background-color: lightgrey;
    max-height: 100vh;
    overflow-y: scroll;
  }
  #noVisibleLeft .blanche {
    background-color: white;
  }
  #noVisibleLeft .rectangleHaut {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-top: 10%;
    margin-bottom: 10%;
  }
  #noVisibleLeft .rectangleHaut i {
    color: #7e7e7e;
  }
  #noVisibleLeft .cadreIdentite {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .cadrePhoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #noVisibleLeft .cadrePhoto .myPix {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  #noVisibleLeft .cadrePhoto .blocRouge {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 3px 3px darkgray;
    animation: dotincrease 10000ms;
    z-index: 2;
    position: absolute;
    left: 56px;
    top: 50px;
  }
  #noVisibleLeft .cadreTexte {
    padding: 5% 10% 5% 10%;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    background-color: white;
  }
  #noVisibleLeft .cadreTexte-name {
    font-weight: bold;
  }
  #noVisibleLeft .cadreTexte p {
    margin-bottom: 5%;
  }
  #noVisibleLeft .grise {
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    box-shadow: inset 0px 3px 5px darkgray;
  }
  #noVisibleLeft .grise .cadreInfo {
    width: 100%;
    padding: 5% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    box-shadow: inset 0px 3px 5px darkgray;
  }
  #noVisibleLeft .grise .cadreInfo li {
    margin-bottom: 10%;
  }
  #noVisibleLeft .grise .cadreInfo-left {
    text-align: left;
    list-style: none;
    font-weight: bold;
  }
  #noVisibleLeft .grise .cadreInfo-right {
    text-align: right;
    list-style: none;
  }
  #noVisibleLeft .grise .trait {
    width: 70%;
    height: 2px;
    background-color: darkgray;
    border: none;
  }
  #noVisibleLeft .grise .cadreLanguages {
    width: 100%;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .grise .cadreLanguages div {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreLanguages-francais .cent {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais {
    position: relative;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .quatrevingtquinze {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .incruste {
    border: 1px solid lightgray;
    background-color: lightgray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
  }
  #noVisibleLeft .grise .cadreLanguages-allemand .soixantequinze {
    border: 2px solid;
    border-top-color: #9356dc;
    border-right-color: lightgray;
    border-bottom-color: #9356dc;
    border-left-color: #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages .cercle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    animation: chargement 8s 2s ease;
    animation-fill-mode: forwards;
  }
  @keyframes chargement {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreLanguages .innerCercle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreCompetences {
    padding: 5% 0 5% 0;
    font-size: 0.8em;
  }
  #noVisibleLeft .grise .cadreCompetences i {
    color: #721cad;
    font-size: 0.7em;
    margin-right: 1em;
  }
  #noVisibleLeft .grise .cadreCompIT {
    width: 100%;
    padding: 5% 15% 5% 15%;
    font-size: 0.7em;
  }
  #noVisibleLeft .grise .cadreCompIT p {
    padding: 5% 0 1% 0;
  }
  @keyframes barLoad {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreCompIT .barProg {
    position: relative;
    background-color: black;
    height: 0.2em;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eaeaea;
    height: 3px;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #9356dc;
    height: 3px;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentHigh {
    width: 90%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentMedium {
    width: 75%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentLow {
    width: 60%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }

  #noVisibleRight {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 60%;
    display: block;
    background-color: #eaeaea;
    box-shadow: inset 3px 3px 3px lightgrey;
    opacity: 0;
  }
  #noVisibleRight .rectangleHautDroit {
    background-color: white;
    box-shadow: 0px 3px 2px #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
  }
  #noVisibleRight .iconeCroix {
    color: #7e7e7e;
    height: 50%;
    margin-left: 10%;
  }
  #noVisibleRight .cadreMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15%;
    color: #7e7e7e;
  }
  #noVisibleRight .cadreMenu a {
    display: block;
    margin-bottom: 30%;
    color: #7e7e7e;
  }

  /* C'EST PROPRE */
  nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150px;
    position: fixed;
    right: 0;
    top: 300px;
    width: 50px;
    background-color: whitesmoke;
  }
  nav .flagSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  nav #eng {
    grid-row: 1;
    grid-column: 1;
    border-bottom: 1px solid lightgray;
  }
  nav #ger {
    grid-row: 2;
    grid-column: 1;
    border-bottom: 1px solid lightgray;
  }
  nav #fren {
    grid-row: 3;
    grid-column: 1;
  }
  nav img {
    width: 20px;
  }

  /* C'EST PROPRE */
  .couvert {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: lightgray;
  }
  .couvert-hidden {
    height: 20px;
    width: 100%;
    margin: 5%;
  }
  .couvert-photo {
    width: 90%;
    height: 215px;
    background-color: #121212;
    background-image: url("images/berlin-skyline.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    box-shadow: inset 0px 0px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
  }
  .couvert-photo p {
    color: whitesmoke;
    font-family: Poppins;
    background: radial-gradient(#202020, black);
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    font-size: 0.6em;
  }
  .couvert-photo .bouton {
    background-color: #9356dc;
    color: white;
    font-family: Poppins;
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    padding: 0% 2% 0% 2%;
    font-size: 0.8em;
    border-radius: 20px;
  }
  .couvert-section {
    margin: 5%;
    width: 90%;
    padding: 5%;
  }
  .couvert-section__blanche {
    background-color: whitesmoke;
  }
  .couvert-section__grise {
    background-color: lightgray;
  }
  .couvert .lesChiffres {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    padding: 0;
    font-size: 0.8em;
    gap: 20px;
  }
  .couvert .lesChiffres span {
    color: #721cad;
    display: inline-block;
    height: 100%;
    padding-right: 3%;
  }
  .couvert .lesChiffres .countries {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .languages {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .typeCompanies {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .workFields {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .moreInfo {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  footer {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
  }
  footer #cadreFooter {
    background-color: lightgrey;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  footer div {
    margin-top: 2%;
  }
  footer .flaticonAttrib {
    font-size: 0.5em;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  body {
    font-family: Roboto, Courier, monospace, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  /* keyframes 1/4 used in the DIV launcher for the disappeance of the load progress bar */
  @keyframes disparition {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  /* keyframes 2/4 used in the DIV mainContainer for the apparition of the index page */
  @keyframes apparition {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
      z-index: 1;
    }
  }
  /* keyframes 3/4 used in the launcher-titre__un and launcher-titre__deux */
  @keyframes titel {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  /* keyframes 4/4 used in the launcher-progressBar__grey and launcher-progressBar__orange */
  @keyframes barDeProgressionOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes barDeProgressionGrey {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  .launcher {
    width: 100%;
    /* A REACTIVER WHEN FINISHED 
    display: flex; */
    /* A EFFACER */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: disparition 3000ms 2500ms;
    animation-fill-mode: forwards;
  }
  .launcher-titre {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
  }
  .launcher-titre__un {
    color: black;
    margin-right: 3%;
    transform-origin: 0% 50%;
    animation: titel 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-titre__deux {
    color: black;
    transform-origin: 0% 50%;
    animation: titel 500ms 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-progressBar {
    position: relative;
    margin-bottom: 3%;
    width: 60%;
    height: 2px;
  }
  .launcher-progressBar__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid darkgray;
    background-color: darkgray;
    height: 100%;
    width: 100%;
    animation: barDeProgressionGrey 1000ms;
    animation-fill-mode: forwards;
  }
  .launcher-progressBar__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #9356dc;
    background-color: #9356dc;
    height: 100%;
    width: 100%;
    transform-origin: 0% 50%;
    animation: barDeProgressionOrange 1000ms 1000ms;
    animation-fill-mode: backwards;
  }
  .launcher-countdown {
    color: black;
    font-weight: lighter;
  }

  /* Retour au CSS de la page index */
  #mainContainer {
    max-width: 950px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    /* A REACTIVER WHEN FINISHED */
    /*
    animation: apparition 1000ms 5500ms;
    animation-fill-mode: backwards; */
  }

  header {
    width: 100%;
    box-shadow: 0px 3px 2px #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: whitesmoke;
  }
  header i {
    color: #7e7e7e;
  }
  header #lesPoints {
    display: none;
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
  }

  @keyframes dotincrease {
    0% {
      transform: scale(0);
      opacity: 0.1;
    }
    5% {
      transform: scale(0.18);
    }
    15% {
      transform: scale(0.4);
    }
    20% {
      transform: scale(0.81);
    }
    25% {
      opacity: 1;
    }
    30% {
      transform: scale(1);
    }
    35% {
      transform: scale(0.81);
      opacity: 0.1;
    }
    40% {
      transform: scale(0.61);
    }
    45% {
      transform: scale(0.4);
    }
    50% {
      transform: scale(0.18);
    }
    55% {
      opacity: 1;
    }
    60% {
      transform: scale(0);
    }
    70% {
      transform: scale(0);
      opacity: 0.1;
    }
    75% {
      transform: scale(0.18);
    }
    80% {
      transform: scale(0.4);
    }
    85% {
      transform: scale(0.81);
    }
    95%, 100% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes barDeCompetenceOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft {
    opacity: 1;
    display: block;
    background-color: lightgrey;
    position: fixed;
    top: 81px;
    bottom: 0;
    right: 66%;
    left: 0;
    grid-column: 1;
    max-height: 100vh;
    overflow-y: scroll;
    /*.couvert-hidden_noVisibleLeft{
        height: 56px;
        width: 100%;
        margin: 5%;
    }*/
  }
  #noVisibleLeft .blanche {
    background-color: whitesmoke;
  }
  #noVisibleLeft .rectangleHaut {
    display: none;
    /*
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-top: 10%;
    margin-bottom: 10%;

    i{
        color: #7e7e7e;
    }
    */
  }
  #noVisibleLeft .cadreIdentite {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .cadrePhoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #noVisibleLeft .cadrePhoto .myPix {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  #noVisibleLeft .cadrePhoto .blocRouge {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 3px 3px darkgray;
    animation: dotincrease 10000ms;
    z-index: 2;
    position: absolute;
    left: 56px;
    top: 50px;
  }
  #noVisibleLeft .cadreTexte {
    padding: 5% 10% 5% 10%;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    background-color: whitesmoke;
  }
  #noVisibleLeft .cadreTexte-name {
    font-weight: bold;
  }
  #noVisibleLeft .cadreTexte p {
    margin-bottom: 5%;
  }
  #noVisibleLeft .grise {
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    box-shadow: inset 0px 3px 5px darkgray;
    height: 100%;
  }
  #noVisibleLeft .grise .cadreInfo {
    width: 100%;
    padding: 5% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
  #noVisibleLeft .grise .cadreInfo li {
    margin-bottom: 10%;
  }
  #noVisibleLeft .grise .cadreInfo-left {
    text-align: left;
    list-style: none;
    font-weight: bold;
  }
  #noVisibleLeft .grise .cadreInfo-right {
    text-align: right;
    list-style: none;
  }
  #noVisibleLeft .grise .trait {
    width: 70%;
    height: 2px;
    background-color: darkgray;
    border: none;
  }
  #noVisibleLeft .grise .cadreLanguages {
    width: 100%;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .grise .cadreLanguages div {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreLanguages-francais .cent {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais {
    position: relative;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .quatrevingtquinze {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .incruste {
    border: 1px solid lightgray;
    background-color: lightgray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
  }
  #noVisibleLeft .grise .cadreLanguages-allemand .soixantequinze {
    border: 2px solid;
    border-top-color: #9356dc;
    border-right-color: lightgray;
    border-bottom-color: #9356dc;
    border-left-color: #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages .cercle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    animation: chargement 8s 2s ease;
    animation-fill-mode: forwards;
  }
  @keyframes chargement {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreLanguages .innerCercle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreCompetences {
    padding: 5% 0 5% 0;
    font-size: 0.8em;
  }
  #noVisibleLeft .grise .cadreCompetences i {
    color: #721cad;
    font-size: 0.7em;
    margin-right: 1em;
  }
  #noVisibleLeft .grise .cadreCompIT {
    width: 100%;
    padding: 5% 15% 5% 15%;
    font-size: 0.7em;
  }
  #noVisibleLeft .grise .cadreCompIT p {
    padding: 5% 0 1% 0;
  }
  @keyframes barLoad {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreCompIT .barProg {
    position: relative;
    background-color: black;
    height: 0.2em;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eaeaea;
    height: 3px;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #9356dc;
    height: 3px;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentHigh {
    width: 90%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentMedium {
    width: 75%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentLow {
    width: 60%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }

  /* A FAIRE */
  #noVisibleRight {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 60%;
    display: block;
    background-color: #eaeaea;
    box-shadow: inset 3px 3px 3px lightgrey;
    opacity: 0;
  }
  #noVisibleRight .rectangleHautDroit {
    background-color: white;
    box-shadow: 0px 3px 2px #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
  }
  #noVisibleRight .iconeCroix {
    color: #7e7e7e;
    height: 50%;
    margin-left: 10%;
  }
  #noVisibleRight .cadreMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15%;
    color: #7e7e7e;
  }
  #noVisibleRight .cadreMenu a {
    display: block;
    margin-bottom: 30%;
    color: #7e7e7e;
  }

  /* C'EST PROPRE */
  nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 30px;
    background-color: whitesmoke;
  }
  nav .flagSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  nav #eng {
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid lightgray;
  }
  nav #ger {
    grid-row: 1;
    grid-column: 2;
    border-right: 1px solid lightgray;
  }
  nav #fren {
    grid-row: 1;
    grid-column: 3;
  }
  nav img {
    width: 25px;
  }

  /* C'EST PROPRE */
  .couvert {
    /* border: 1px solid red; */
    width: 100%;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: lightgray;
  }
  .couvert-hidden {
    height: 40px;
    width: 100%;
    margin: 5%;
  }
  .couvert-photo {
    width: 90%;
    height: 215px;
    background-color: #121212;
    background-image: url("images/berlin-skyline.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    box-shadow: inset 0px 0px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
  }
  .couvert-photo p {
    color: whitesmoke;
    font-family: Poppins;
    background: radial-gradient(#202020, black);
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    font-size: 0.6em;
  }
  .couvert-photo .bouton {
    background-color: #9356dc;
    color: white;
    font-family: Poppins;
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    padding: 0% 2% 0% 2%;
    font-size: 0.8em;
    border-radius: 20px;
  }
  .couvert-section {
    margin: 5%;
    width: 90%;
    padding: 5%;
    /* border: 1px solid brown; */
  }
  .couvert-section__blanche {
    background-color: whitesmoke;
  }
  .couvert-section__grise {
    background-color: lightgray;
  }
  .couvert .lesChiffres {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    padding: 0;
    font-size: 0.8em;
    gap: 20px;
  }
  .couvert .lesChiffres span {
    color: #721cad;
    display: inline-block;
    height: 100%;
    padding-right: 3%;
  }
  .couvert .lesChiffres .countries {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .languages {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .typeCompanies {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .workFields {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .moreInfo {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  footer {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
  }
  footer #cadreFooter {
    background-color: lightgrey;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 33%;
  }
  footer div {
    margin-top: 2%;
  }
  footer .flaticonAttrib {
    font-size: 0.5em;
  }
}
@media (min-width: 991.99px) and (max-width: 1999.99px) {
  body {
    font-family: Roboto, Courier, monospace, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  /* keyframes 1/4 used in the DIV launcher for the disappeance of the load progress bar */
  @keyframes disparition {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  /* keyframes 2/4 used in the DIV mainContainer for the apparition of the index page */
  @keyframes apparition {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
      z-index: 1;
    }
  }
  /* keyframes 3/4 used in the launcher-titre__un and launcher-titre__deux */
  @keyframes titel {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  /* keyframes 4/4 used in the launcher-progressBar__grey and launcher-progressBar__orange */
  @keyframes barDeProgressionOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes barDeProgressionGrey {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  .launcher {
    width: 100%;
    /* A REACTIVER WHEN FINISHED 
    display: flex; */
    /* A EFFACER */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: disparition 3000ms 2500ms;
    animation-fill-mode: forwards;
  }
  .launcher-titre {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
  }
  .launcher-titre__un {
    color: black;
    margin-right: 3%;
    transform-origin: 0% 50%;
    animation: titel 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-titre__deux {
    color: black;
    transform-origin: 0% 50%;
    animation: titel 500ms 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-progressBar {
    position: relative;
    margin-bottom: 3%;
    width: 60%;
    height: 2px;
  }
  .launcher-progressBar__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid darkgray;
    background-color: darkgray;
    height: 100%;
    width: 100%;
    animation: barDeProgressionGrey 1000ms;
    animation-fill-mode: forwards;
  }
  .launcher-progressBar__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #9356dc;
    background-color: #9356dc;
    height: 100%;
    width: 100%;
    transform-origin: 0% 50%;
    animation: barDeProgressionOrange 1000ms 1000ms;
    animation-fill-mode: backwards;
  }
  .launcher-countdown {
    color: black;
    font-weight: lighter;
  }

  /* Retour au CSS de la page index */
  #mainContainer {
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    /* A REACTIVER WHEN FINISHED */
    /*
    animation: apparition 1000ms 5500ms;
    animation-fill-mode: backwards; */
  }

  header {
    display: none;
    /*
    width: 100%;
    box-shadow: 0px 3px 2px #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background-color: whitesmoke;   

    i{
        color: #7e7e7e;
    }

    #lesPoints{
        display: none;
    }

    .fa-bars{
        display: none;
    }

    */
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-rows: 1fr;
    background-color: whitesmoke;
  }

  @keyframes dotincrease {
    0% {
      transform: scale(0);
      opacity: 0.1;
    }
    5% {
      transform: scale(0.18);
    }
    15% {
      transform: scale(0.4);
    }
    20% {
      transform: scale(0.81);
    }
    25% {
      opacity: 1;
    }
    30% {
      transform: scale(1);
    }
    35% {
      transform: scale(0.81);
      opacity: 0.1;
    }
    40% {
      transform: scale(0.61);
    }
    45% {
      transform: scale(0.4);
    }
    50% {
      transform: scale(0.18);
    }
    55% {
      opacity: 1;
    }
    60% {
      transform: scale(0);
    }
    70% {
      transform: scale(0);
      opacity: 0.1;
    }
    75% {
      transform: scale(0.18);
    }
    80% {
      transform: scale(0.4);
    }
    85% {
      transform: scale(0.81);
    }
    95%, 100% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes barDeCompetenceOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft {
    opacity: 1;
    display: block;
    background-color: lightgrey;
    position: fixed;
    top: 81px;
    bottom: 0;
    right: 75%;
    left: 0;
    grid-column: 1;
    grid-row: 1;
    max-height: 100vh;
    overflow-y: scroll;
    /*.couvert-hidden_noVisibleLeft{
        height: 56px;
        width: 100%;
        margin: 5%;
    }*/
  }
  #noVisibleLeft .blanche {
    background-color: whitesmoke;
  }
  #noVisibleLeft .rectangleHaut {
    display: none;
    /*
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-top: 10%;
    margin-bottom: 10%;

    i{
        color: #7e7e7e;
    }
    */
  }
  #noVisibleLeft .cadreIdentite {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .cadrePhoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #noVisibleLeft .cadrePhoto .myPix {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  #noVisibleLeft .cadrePhoto .blocRouge {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 3px 3px darkgray;
    animation: dotincrease 10000ms;
    z-index: 2;
    position: absolute;
    left: 56px;
    top: 50px;
  }
  #noVisibleLeft .cadreTexte {
    padding: 5% 10% 5% 10%;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    background-color: whitesmoke;
  }
  #noVisibleLeft .cadreTexte-name {
    font-weight: bold;
  }
  #noVisibleLeft .cadreTexte p {
    margin-bottom: 5%;
  }
  #noVisibleLeft .grise {
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    box-shadow: inset 0px 3px 5px darkgray;
    height: 100%;
  }
  #noVisibleLeft .grise .cadreInfo {
    width: 100%;
    padding: 5% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
  #noVisibleLeft .grise .cadreInfo li {
    margin-bottom: 10%;
  }
  #noVisibleLeft .grise .cadreInfo-left {
    text-align: left;
    list-style: none;
    font-weight: bold;
  }
  #noVisibleLeft .grise .cadreInfo-right {
    text-align: right;
    list-style: none;
  }
  #noVisibleLeft .grise .trait {
    width: 70%;
    height: 2px;
    background-color: darkgray;
    border: none;
  }
  #noVisibleLeft .grise .cadreLanguages {
    width: 100%;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .grise .cadreLanguages div {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreLanguages-francais .cent {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais {
    position: relative;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .quatrevingtquinze {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .incruste {
    border: 1px solid lightgray;
    background-color: lightgray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
  }
  #noVisibleLeft .grise .cadreLanguages-allemand .soixantequinze {
    border: 2px solid;
    border-top-color: #9356dc;
    border-right-color: lightgray;
    border-bottom-color: #9356dc;
    border-left-color: #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages .cercle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    animation: chargement 8s 2s ease;
    animation-fill-mode: forwards;
  }
  @keyframes chargement {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreLanguages .innerCercle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreCompetences {
    padding: 5% 0 5% 0;
    font-size: 0.8em;
  }
  #noVisibleLeft .grise .cadreCompetences i {
    color: #721cad;
    font-size: 0.7em;
    margin-right: 1em;
  }
  #noVisibleLeft .grise .cadreCompIT {
    width: 100%;
    padding: 5% 15% 5% 15%;
    font-size: 0.7em;
  }
  #noVisibleLeft .grise .cadreCompIT p {
    padding: 5% 0 1% 0;
  }
  @keyframes barLoad {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreCompIT .barProg {
    position: relative;
    background-color: black;
    height: 0.2em;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eaeaea;
    height: 3px;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #9356dc;
    height: 3px;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentHigh {
    width: 90%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentMedium {
    width: 75%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentLow {
    width: 60%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }

  #noVisibleRight {
    /*
    grid-column: 3;
    grid-row: 1;
    */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 87%;
    display: block;
    opacity: 1;
    background-color: #eaeaea;
    box-shadow: inset 3px 3px 3px lightgrey;
  }
  #noVisibleRight .rectangleHautDroit {
    display: none;
    /*
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    */
  }
  #noVisibleRight .iconeCroix {
    display: none;
  }
  #noVisibleRight .cadreMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15%;
    box-shadow: inset 0px 3px 2px #cfcfcf;
    color: #7e7e7e;
    padding-top: 30%;
  }
  #noVisibleRight .cadreMenu a {
    display: block;
    margin-bottom: 30%;
    color: #7e7e7e;
  }

  /* C'EST PROPRE */
  nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 30px;
    background-color: whitesmoke;
  }
  nav .flagSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  nav #eng {
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid lightgray;
  }
  nav #ger {
    grid-row: 1;
    grid-column: 2;
    border-right: 1px solid lightgray;
  }
  nav #fren {
    grid-row: 1;
    grid-column: 3;
  }
  nav img {
    width: 30px;
  }

  /* C'EST PROPRE */
  .couvert {
    /* border: 1px solid red; */
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: lightgray;
    padding-top: 5%;
  }
  .couvert-hidden {
    display: none;
    /*height: 100px;
    width: 100%;
    margin: 5%;
    */
  }
  .couvert-photo {
    width: 90%;
    height: 215px;
    background-color: #121212;
    background-image: url("images/berlin-skyline.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    box-shadow: inset 0px 0px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
  }
  .couvert-photo p {
    color: whitesmoke;
    font-family: Poppins;
    background: radial-gradient(#202020, black);
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    font-size: 0.6em;
  }
  .couvert-photo .bouton {
    background-color: #9356dc;
    color: white;
    font-family: Poppins;
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    padding: 0% 2% 0% 2%;
    font-size: 0.8em;
    border-radius: 20px;
  }
  .couvert-section {
    margin: 5%;
    width: 90%;
    padding: 5%;
    /* border: 1px solid brown; */
  }
  .couvert-section__blanche {
    background-color: whitesmoke;
  }
  .couvert-section__grise {
    background-color: lightgray;
  }
  .couvert .lesChiffres {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    padding: 0;
    font-size: 0.8em;
    gap: 20px;
  }
  .couvert .lesChiffres span {
    color: #721cad;
    display: inline-block;
    height: 100%;
    padding-right: 3%;
  }
  .couvert .lesChiffres .countries {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .languages {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .typeCompanies {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .workFields {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .moreInfo {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  footer {
    background-color: lightgrey;
  }
  footer #cadreFooter {
    background-color: lightgrey;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 25%;
  }
  footer div {
    margin-top: 2%;
  }
  footer .flaticonAttrib {
    font-size: 0.5em;
  }
}
@media (min-width: 2000px) {
  body {
    font-family: Roboto, Courier, monospace, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightgray;
    font-size: 2em;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  /* keyframes 1/4 used in the DIV launcher for the disappeance of the load progress bar */
  @keyframes disparition {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  /* keyframes 2/4 used in the DIV mainContainer for the apparition of the index page */
  @keyframes apparition {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
      z-index: 1;
    }
  }
  /* keyframes 3/4 used in the launcher-titre__un and launcher-titre__deux */
  @keyframes titel {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  /* keyframes 4/4 used in the launcher-progressBar__grey and launcher-progressBar__orange */
  @keyframes barDeProgressionOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes barDeProgressionGrey {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  .launcher {
    width: 100%;
    /* A REACTIVER WHEN FINISHED 
    display: flex; */
    /* A EFFACER */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: disparition 3000ms 2500ms;
    animation-fill-mode: forwards;
  }
  .launcher-titre {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
  }
  .launcher-titre__un {
    color: black;
    margin-right: 3%;
    transform-origin: 0% 50%;
    animation: titel 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-titre__deux {
    color: black;
    transform-origin: 0% 50%;
    animation: titel 500ms 500ms;
    animation-fill-mode: backwards;
  }
  .launcher-progressBar {
    position: relative;
    margin-bottom: 3%;
    width: 60%;
    height: 2px;
  }
  .launcher-progressBar__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid darkgray;
    background-color: darkgray;
    height: 100%;
    width: 100%;
    animation: barDeProgressionGrey 1000ms;
    animation-fill-mode: forwards;
  }
  .launcher-progressBar__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #9356dc;
    background-color: #9356dc;
    height: 100%;
    width: 100%;
    transform-origin: 0% 50%;
    animation: barDeProgressionOrange 1000ms 1000ms;
    animation-fill-mode: backwards;
  }
  .launcher-countdown {
    color: black;
    font-weight: lighter;
  }

  /* Retour au CSS de la page index */
  #mainContainer {
    max-width: 3920px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    /* A REACTIVER WHEN FINISHED */
    /*
    animation: apparition 1000ms 5500ms;
    animation-fill-mode: backwards; */
  }

  header {
    display: none;
    /*
    width: 100%;
    box-shadow: 0px 3px 2px #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background-color: whitesmoke;   

    i{
        color: #7e7e7e;
    }

    #lesPoints{
        display: none;
    }

    .fa-bars{
        display: none;
    }

    */
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-rows: 1fr 19fr;
    background-color: lightgray;
  }

  @keyframes dotincrease {
    0% {
      transform: scale(0);
      opacity: 0.1;
    }
    5% {
      transform: scale(0.18);
    }
    15% {
      transform: scale(0.4);
    }
    20% {
      transform: scale(0.81);
    }
    25% {
      opacity: 1;
    }
    30% {
      transform: scale(1);
    }
    35% {
      transform: scale(0.81);
      opacity: 0.1;
    }
    40% {
      transform: scale(0.61);
    }
    45% {
      transform: scale(0.4);
    }
    50% {
      transform: scale(0.18);
    }
    55% {
      opacity: 1;
    }
    60% {
      transform: scale(0);
    }
    70% {
      transform: scale(0);
      opacity: 0.1;
    }
    75% {
      transform: scale(0.18);
    }
    80% {
      transform: scale(0.4);
    }
    85% {
      transform: scale(0.81);
    }
    95%, 100% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes barDeCompetenceOrange {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft {
    opacity: 1;
    display: block;
    background-color: lightgrey;
    grid-column: 1;
    grid-row: 2;
    max-height: 100vh;
    overflow-y: scroll;
  }
  #noVisibleLeft .blanche {
    background-color: whitesmoke;
  }
  #noVisibleLeft .rectangleHaut {
    display: none;
  }
  #noVisibleLeft .cadreIdentite {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .cadrePhoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #noVisibleLeft .cadrePhoto .myPix {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  #noVisibleLeft .cadrePhoto .blocRouge {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 3px 3px darkgray;
    animation: dotincrease 10000ms;
    z-index: 2;
    position: absolute;
    left: 56px;
    top: 50px;
  }
  #noVisibleLeft .cadreTexte {
    padding: 5% 10% 5% 10%;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    background-color: whitesmoke;
  }
  #noVisibleLeft .cadreTexte-name {
    font-weight: bold;
  }
  #noVisibleLeft .cadreTexte p {
    margin-bottom: 5%;
  }
  #noVisibleLeft .grise {
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    box-shadow: inset 0px 3px 5px darkgray;
    height: 100%;
  }
  #noVisibleLeft .grise .cadreInfo {
    width: 100%;
    padding: 5% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
  #noVisibleLeft .grise .cadreInfo li {
    margin-bottom: 10%;
  }
  #noVisibleLeft .grise .cadreInfo-left {
    text-align: left;
    list-style: none;
    font-weight: bold;
  }
  #noVisibleLeft .grise .cadreInfo-right {
    text-align: right;
    list-style: none;
  }
  #noVisibleLeft .grise .trait {
    width: 70%;
    height: 2px;
    background-color: darkgray;
    border: none;
  }
  #noVisibleLeft .grise .cadreLanguages {
    width: 100%;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
  }
  #noVisibleLeft .grise .cadreLanguages div {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreLanguages-francais .cent {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais {
    position: relative;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .quatrevingtquinze {
    border: 2px solid #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages-anglais .incruste {
    border: 1px solid lightgray;
    background-color: lightgray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
  }
  #noVisibleLeft .grise .cadreLanguages-allemand .soixantequinze {
    border: 2px solid;
    border-top-color: #9356dc;
    border-right-color: lightgray;
    border-bottom-color: #9356dc;
    border-left-color: #9356dc;
  }
  #noVisibleLeft .grise .cadreLanguages .cercle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    animation: chargement 8s 2s ease;
    animation-fill-mode: forwards;
  }
  @keyframes chargement {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreLanguages .innerCercle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #noVisibleLeft .grise .cadreCompetences {
    padding: 5% 0 5% 0;
    font-size: 0.8em;
  }
  #noVisibleLeft .grise .cadreCompetences i {
    color: #721cad;
    font-size: 0.7em;
    margin-right: 1em;
  }
  #noVisibleLeft .grise .cadreCompIT {
    width: 100%;
    padding: 5% 15% 5% 15%;
    font-size: 0.7em;
  }
  #noVisibleLeft .grise .cadreCompIT p {
    padding: 5% 0 1% 0;
  }
  @keyframes barLoad {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  #noVisibleLeft .grise .cadreCompIT .barProg {
    position: relative;
    background-color: black;
    height: 0.2em;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eaeaea;
    height: 3px;
    width: 100%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg__orange {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #9356dc;
    height: 3px;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentHigh {
    width: 90%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentMedium {
    width: 75%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }
  #noVisibleLeft .grise .cadreCompIT .barProg .percentLow {
    width: 60%;
    animation: barLoad 5000ms 500ms;
    animation-fill-mode: backwards;
    transform-origin: 0% 50%;
  }

  #noVisibleRight {
    grid-column: 3;
    grid-row: 1/3;
    /*
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 87%;
    */
    display: block;
    opacity: 1;
    background-color: #eaeaea;
    box-shadow: inset 3px 3px 3px lightgrey;
    background: linear-gradient(#eaeaea, lightgrey);
  }
  #noVisibleRight .rectangleHautDroit {
    display: none;
    /*
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    */
  }
  #noVisibleRight .iconeCroix {
    display: none;
  }
  #noVisibleRight .cadreMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15%;
    box-shadow: inset 0px 3px 2px #cfcfcf;
    color: #7e7e7e;
    padding-top: 30%;
  }
  #noVisibleRight .cadreMenu a {
    display: block;
    margin-bottom: 30%;
    color: #7e7e7e;
  }

  /* C'EST PROPRE */
  nav {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /*width: 150px;
    height: 50px;


    position: fixed;
    top: 10px;
    left: 30px;
    */
    background-color: whitesmoke;
  }
  nav .flagSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  nav #eng {
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid lightgray;
  }
  nav #ger {
    grid-row: 1;
    grid-column: 2;
    border-right: 1px solid lightgray;
  }
  nav #fren {
    grid-row: 1;
    grid-column: 3;
  }
  nav img {
    width: 35px;
  }

  /* C'EST PROPRE */
  .couvert {
    /* border: 1px solid red; */
    width: 100%;
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: lightgray;
    padding-top: 5%;
  }
  .couvert-hidden {
    display: none;
    /*height: 100px;
    width: 100%;
    margin: 5%;
    */
  }
  .couvert-photo {
    width: 90%;
    height: 700px;
    background-color: #121212;
    background-image: url("images/berlin-skyline.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    box-shadow: inset 0px 0px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
  }
  .couvert-photo p {
    color: whitesmoke;
    font-family: Poppins;
    background: radial-gradient(#202020, black);
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    font-size: 0.6em;
  }
  .couvert-photo .bouton {
    background-color: #9356dc;
    color: white;
    font-family: Poppins;
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 5%;
    padding: 0% 2% 0% 2%;
    font-size: 0.8em;
    border-radius: 20px;
  }
  .couvert-section {
    margin: 5%;
    width: 90%;
    padding: 5%;
    /* border: 1px solid brown; */
  }
  .couvert-section__blanche {
    background-color: whitesmoke;
  }
  .couvert-section__grise {
    background-color: lightgray;
  }
  .couvert .lesChiffres {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    padding: 0;
    font-size: 0.8em;
    gap: 20px;
  }
  .couvert .lesChiffres span {
    color: #721cad;
    display: inline-block;
    height: 100%;
    padding-right: 3%;
  }
  .couvert .lesChiffres .countries {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .languages {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .typeCompanies {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .workFields {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .couvert .lesChiffres .moreInfo {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  footer {
    background-color: lightgrey;
  }
  footer #cadreFooter {
    background-color: lightgrey;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 25%;
  }
  footer div {
    margin-top: 2%;
  }
  footer .flaticonAttrib {
    font-size: 0.5em;
  }
}

/*# sourceMappingURL=style.css.map */
