*
{
    font-family: Raleway, Courier, monospace, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pageWeb
{
    display: flex;
    flex-direction: column;
}


.hamburger
{
    background-color: burlywood;
    width: 100%;
}

header li
{
    list-style-type: none;
}

.bandeauGauche
{
    background-color: chartreuse;
    width: 100%;
}

.conteneur
{
    background-color: cadetblue;
    width: 100%;
}

.sloganPortraitPhoto
{
    background-color: darkgoldenrod;
    width: 100%;
}

.blocExperience
{
    background-color: darkred;
    width: 100%;
}

.blocIcone
{
    background-color: deeppink;
    width: 100%;
}

.copyright
{
    background-color: forestgreen;
    width: 100%;
}