@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*
{
    font-family: Raleway, Courier, monospace, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#pageWeb
{
    display: flex;
    flex-direction: row;
    background-color: rgb(233,233, 233);
}

.element:nth-child(1) 
{
    order: 3;
}

.element:nth-child(2)
{
    order: 1;
}

.element:nth-child(3)
{
    order: 2;
}

.hamburger
{
    background-color: #fff;
    border-color: red;
    border-style: solid;
    margin: 2%;

    width: 20%;
}

header li
{
    list-style-type: none;
}

.bandeauGauche
{
    border-color: royalblue;
    border-style: solid;
    width: 20%;
    margin: 2%;
}

.moi
{
    border-style: solid;
    border-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
    background-color: #fff;
}

.moi p
{
    margin-top: 5%;
}

.name
{
    font-weight: bold;
}

.idPix
{
    border-radius: 50px;
}

.whereabouts
{
    border-bottom-style: solid;
    border-bottom-color: rgb(121,121,121);
    margin-left: 5%;
    margin-right: 5%;

    display: grid;
    
}

.languages
{
    border-style: solid;
    border-color: darkgoldenrod;
}

.iconSocialNetworks
{
    border-style: solid;
    border-color: lime;
}

.conteneur
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: red;
    margin-top: 2%;


}

.sloganPortraitPhoto
{
    background-image: url("images/berlin-skyline.jpg");
    width: 100%;
    color:#fff;
    height: 400px;
}

.blocExperience
{
    
    width: 100%;
    border-style: dotted;
    border-color: black;
}

.blocIcone
{
    background-color: white;
    width: 100%;
    border-style: dashed;
    border-color: teal;
}

.copyright
{
    border-color: forestgreen;
    border-style: groove;
    width: 100%;
}