*
{
    font-family: Raleway, Courier, monospace, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pageWeb
{
    display: flex;
    flex-direction: row;
}

.element:nth-child(1) 
{
    order: 3;
}

.element:nth-child(2)
{
    order: 1;
}

.element:nth-child(3)
{
    order: 2;
}

.hamburger
{
    background-color: burlywood;
    width: 10%;
}

header li
{
    list-style-type: none;
}

.bandeauGauche
{
    background-color: chartreuse;
    width: 10%;
}

.conteneur
{
    background-color: cadetblue;
    width: 80%;
}

.sloganPortraitPhoto
{
    background-color: darkgoldenrod;
    width: 70%;
}

.blocExperience
{
    background-color: darkred;
    width: 70%;
}

.blocIcone
{
    background-color: deeppink;
    width: 70%;
}

.copyright
{
    background-color: forestgreen;
    width: 70%;
}